## 데이터 입출력
---

### 1. 기업정보 데이터

In [7]:
# 라이브러리
import os
import chardet
import pandas as pd

In [2]:
# 현재 작업경로
os.getcwd()

'/Users/jang-uijin/Desktop/코딩/파이썬/[탈잉]파이썬 데이터분석'

In [3]:
# 현재 작업경로 내의 파일명 출력
os.listdir()

['L3 Data Visualization.ipynb',
 'L1 Data Preparation.ipynb',
 'pandas_practice.ipynb',
 '.DS_Store',
 'AlicornDataset.z',
 'Merged_Data.csv',
 'L2 Data Preprocessing.ipynb',
 'DX062000030001',
 'DX062000020001',
 '테이블명세서_tb_rk_entrp_info_m.xlsx',
 'csv_tb_rk_entrp_info_m.csv',
 'csv_tb_rk_empmn_info_m.csv',
 '테이블명세서_tb_rk_empmn_info_m.xlsx',
 '.ipynb_checkpoints',
 '.idea',
 'Alldataset.z']

### 1. 기업정보 데이터

In [4]:
file1 = 'csv_tb_rk_entrp_info_m.csv'

# File1을 바이너리 모드로 읽는다.
# 문자열 -> 인코딩된 byte 형식으로 가져옴

raw1 = open(file = file1, mode ='rb').read()
print(raw1[:20])

b'\xb1\xe2\xbe\xf7\xc0\xcf\xb7\xc3\xb9\xf8\xc8\xa3,\xbe\xf7\xc3\xbc\xb1\xb9\xb9'

In [5]:
# file1 -> 데이터프레임 형성
# encoding 지정 필수!
ent = pd.read_csv(filepath_or_buffer = file1, encoding = 'CP949')

ent.info()
ent.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63219 entries, 0 to 63218
Data columns (total 19 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   기업일련번호    63219 non-null  int64
 1   업체국문명     63187 non-null  object
 2   업체영문명     19694 non-null  object
 3   기업한줄소개내용  20315 non-null  object
 4   기업소개상세내용  14777 non-null  object
 5   설립일자      18703 non-null  float64
 6   구성원수      2906 non-null   object
 7   누적투자유치금액  2445 non-null   float64
 8   홈페이지url   12775 non-null  object
 9   소셜미디어url  4885 non-null   object
 10  기업추천수     63219 non-null  int64
 11  기업추천내용    5504 non-null   object
 12  산업구분명     21233 non-null  object
 13  사무실주소     11296 non-null  object
 14  기술스택명     6590 non-null   object
 15  발행사명      6080 non-null   object
 16  보도일자      6410 non-null   float64
 17  뉴스제목명     6406 non-null   object
 18  기사url     6410 non-null   object
dtypes: float64(3), int64(2), object(14)
memory usage: 9.2+ MB

,기업일련번호,업체국문명,업체영문명,기업한줄소개내용,기업소개상세내용,설립일자,구성원수,누적투자유치금액,홈페이지url,소셜미디어url,기업추천수,기업추천내용,산업구분명,사무실주소,기술스택명,발행사명,보도일자,뉴스제목명,기사url
0,161069,코뿔소랩,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,116057,현대제이콤,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,161065,지티투자개발,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,161066,동성아트홀,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,161072,오픈부스,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# 데이터 - 기술통계랑(숫자형 열만 출력)
# 기술통계량 : count, mean, min, max ....
ent.describe().round(2)

          기업일련번호         설립일자      누적투자유치금액     기업추천수         보도일자
count   63219.00     18703.00  2.445000e+03  63219.00      6410.00
mean    76377.65  20106913.37  5.581215e+10      0.43  20185702.53
std     45446.46    199776.61  2.427029e+12      2.65     21154.72
min         1.00  16210101.00  1.000000e+01      0.00  20040302.00
25%     37844.50  20121116.00  2.000000e+08      0.00  20170613.25
50%     75502.00  20160211.00  1.000000e+09      0.00  20190426.50
75%    114565.50  20180703.00  4.180000e+09      0.00  20201120.00
max    161109.00  21050101.00  1.200000e+14    269.00  20211229.00

### 2. 채용정보 데이터

In [8]:
# file2 -> 인코딩
file2 = 'csv_tb_rk_empmn_info_m.csv'
raw2 = open(file = file2, mode = 'rb').read()

# 인코딩 방식 확인
chardet.detect(byte_str = raw2[:100])

{'encoding': 'EUC-KR', 'confidence': 0.99, 'language': 'Korean'}

In [9]:
# 엔코딩
emp = pd.read_csv(filepath_or_buffer = file2, encoding = 'CP949')
emp.info()
emp.tail() # 기본 값: n=5

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6873 entries, 0 to 6872
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   채용일련번호    6873 non-null   int64
 1   기업일련번호    6873 non-null   int64
 2   채용분야명     6873 non-null   object
 3   경력구분명     6873 non-null   object
 4   고용형태명     6873 non-null   object
 5   연봉최소금액    6706 non-null   float64
 6   연봉최대금액    6106 non-null   float64
 7   스톡옵션최소금액  474 non-null    float64
 8   스톡옵션최대금액  746 non-null    float64
 9   관련전문기술명   6872 non-null   object
 10  외국어명      875 non-null    object
dtypes: float64(4), int64(2), object(5)
memory usage: 590.8+ KB

,채용일련번호,기업일련번호,채용분야명,경력구분명,고용형태명,연봉최소금액,연봉최대금액,스톡옵션최소금액,스톡옵션최대금액,관련전문기술명,외국어명
6868,80955,92835,디자인,경력,풀타임,220.0,NaN,NaN,NaN,광고디자인||브랜드디자인||Adobe Photoshop||Adobe Illustra...,NaN
6869,86226,134982,마케팅,경력||신입,풀타임,2800.0,3200.0,NaN,NaN,모바일 서비스||웹서비스||디지털 마케팅 디자인||금융||핀테크||platform|...,한국어||영어||중국어
6870,83752,133549,마케팅,경력||신입,풀타임,2500.0,5000.0,NaN,NaN,온라인마케팅||브랜드마케팅||디지털마케팅||바이럴마케팅||콘텐츠마케팅||Google...,NaN
6871,82831,32777,SW 개발,경력,풀타임|| 병역대체,4000.0,5000.0,1.0,2.0,graphql||React||TypeScript||Firebase||Google C...,영어
6872,85258,135263,SW 개발,경력,풀타임,5000.0,7000.0,NaN,NaN,Java||jQuery||JavaScript||Back-end||Front-end,NaN

In [10]:
# emp 기술통계량 (object -> 문자형 열만 출력)
emp.describe(include = 'object').round(2)

        채용분야명 경력구분명 고용형태명 관련전문기술명 외국어명
count    6873  6873  6873    6872  875
unique     10     7    12    6298   50
top     SW 개발    경력   풀타임  Python   영어
freq     3373  4000  6185      29  649

### 객체를 압축파일로 저장

In [11]:
import joblib

In [12]:
# 두 개의 데이터프레임을 압축파일로 저장
joblib.dump(value = [emp, ent], filename = 'Alldataset.z')

['Alldataset.z']

In [13]:
# 저장 확인
os.listdir()

['L3 Data Visualization.ipynb',
 'L1 Data Preparation.ipynb',
 'pandas_practice.ipynb',
 '.DS_Store',
 'AlicornDataset.z',
 'Merged_Data.csv',
 'L2 Data Preprocessing.ipynb',
 'DX062000030001',
 'DX062000020001',
 '테이블명세서_tb_rk_entrp_info_m.xlsx',
 'csv_tb_rk_entrp_info_m.csv',
 'csv_tb_rk_empmn_info_m.csv',
 '테이블명세서_tb_rk_empmn_info_m.xlsx',
 '.ipynb_checkpoints',
 '.idea',
 'Alldataset.z']